
.ant-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ant-layout-content {
  flex-grow: 1;
}


.header-style {
  background: '#001529';
  padding: 0;
  display: 'flex';
  alignItems: 'center';
  justifyContent: 'flex-start'; 
}

.logo-style {
  padding: 0 20px;
  font-size: 20px; 
  font-weight: bold;
  color: white;
  font-family: 'Segoe UI';
  letter-spacing: 0.05em;
}


.content-style {
  margin: '24px 16px';
  padding: 24px;
  background: 'white';
  minHeight: 280px;
}

